# Dependency directories
node_modules
.next/cache
.next/standalone

# Development and build artifacts
.next/
out/
build/
dist/

# Git-related files
.git
.gitignore

# Environment variables and sensitive data
.env
.env.local
.env.*.local

# Editor and IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/